@font-face {
  font-family: "Countryhouse";
  src: url("../fonts/Countryhouse.ttf") format("truetype");
}

:root {
  --blue-dark: #0b2a5a;
  --blue-ice: #b9d9ff;
  --blue-box: #1c3f7a;
  --blue-coolbox: #112045;
  --white: #ffffff;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Countryhouse", sans-serif;
  background: url("../assets/bg.png") center top repeat;
  background-size: auto;
  color: var(--white);
}

img {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

/* HEADER */
.header {
  background: url("../assets/logobg.png") center repeat; /* ts was an error but it lowkey looks cool */
  border-bottom: 4px solid var(--blue-ice);
  text-align: center;
  padding: 24px 16px;
}

.header-logo {
  max-width: 500px;
  width: 90%;
  height: auto;
}

.episode-list {
  max-height: 80vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-right: 5px;
}

.goodie-list {
  max-height: 80vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-right: 5px;
  text-align: center;
}

.episode-item {
  display: flex;
  align-items: center;
  gap: 16px;
  background: var(--blue-box);
  border: 3px solid var(--blue-ice);
  padding: 12px 14px;
  color: var(--white);
  text-decoration: none;
  cursor: pointer;
  font-size: 1.2em;
}

.episode-item img {
  width: 80px;
  height: 80px;
  image-rendering: pixelated;
}

.episode-name {
  text-align: left;
}

.box h2 {
    text-align: center;
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 12px;
}

.nav {
  background: var(--blue-box);
  border-bottom: 4px solid var(--blue-ice);
  text-align: center;
  padding: 12px;
}

.nav a {
  color: var(--white);
  text-decoration: none;
  margin: 0 10px;
}

.nav a.active {
  text-decoration: underline;
}

.main {
  display: flex;
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

.col {
  flex: 1;
}

.col.center {
  flex: 1.2;
}

.box {
  background: var(--blue-box);
  border: 4px solid var(--blue-coolbox);
  padding: 15px;
  color: var(--white);
}

.featured-label {
  text-align: center;
  margin: 0 0 12px 0;
  font-size: 1.6em;
  letter-spacing: 1px;
}

.episode-title {
  display: flex;
  align-items: center;
  gap: 12px;
}

.feature-title {
    display: flex;
    align-items: center;
    gap: 12px;
}

.feature-title img {
    width: 85px;
    height: 85px;
}

.feature-title h2 {
    font-size: 24px;
    font-weight: normal; 
    margin: 0;
}

.ep-icon {
  width: 48px;
  height: 48px;
}

.button {
  display: inline-block;
  margin-top: 14px;
  text-align: center;
  padding: 10px 18px;
  background: var(--blue-dark);
  border: 3px solid var(--blue-ice);
  color: var(--white);
  text-decoration: none;
  cursor: pointer;
}
